<button style="float: right;" (click)="addEntry()">Add Entry</button>

    <div class="card" *ngFor="let item of items" (click)="goToEntrys(item)">
        <div class="card-header">{{item.name}}</div>
        <div class="card-body">{{item.phoneNumber}}</div>
    </div>
