<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">{{ modalData.title }}</h1>
    </header>
    <section id="modal-body">
        <div>
            <p>Name</p>
            <input [(ngModel)]="name">
        </div>
        <div *ngIf=modalData.entry>
            <p>Phone Number</p>
            <input [(ngModel)]="phonenumber">
        </div>

    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">
            Insert
        </button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
            Go back
        </button>
    </footer>
</div>