<button style="float: right;" (click)="addPhoneBook()">Add PhoneBook</button>

    <div class="card" *ngFor="let item of items" (click)="goToEntrys(item)">
        <div class="card-header">{{item.name}}</div>
    </div>
